<div class="app">
  <div class="app-notice">
    <p class="app-notice__text"><a class="app-notice__link" href="https://www.dangercove.com">Check out my apps 👇</a></p>
  </div>
  <div class="app-container">
    <figure class="app-icon">
      <img class="app-icon__image" src="/assets/img/Timeless.png" alt="Timeless' app icon">
    </figure>
    <div class="app-content">
      <h3 class="app-content-header">
        <span class="app-content-header__title">Timeless</span>
        <span class="app-content-header__subtitle">Reduce time anxiety</span>
      </h3>
      <div class="app-content-body">
        <p class="app-content_body__text">Get a more subtle sense of what time it is. Reducing time pressure and distraction.</p>
      </div>
      <div class="app-content-actions">
        <a class="app-content-actions__button app-content-actions__button--primary" href="https://www.usetimeless.app">More Info</a>
        <a class="app-content-actions__button app-content-actions__button--text" href="https://www.usetimeless.app/download">Download Now</a>
      </div>
    </div>
  </div>
</div>

