<div class="app">
  <div class="app-notice">
    <p class="app-notice__text">I make apps, consider taking a look 👇</p>
  </div>
  <div class="app-container">
    <figure class="app-icon">
      <img class="app-icon__image" src="/assets/img/Timeless.png" alt="Timeless' app icon">
    </figure>
    <header class="app-header">
      <p class="app-header__title"><a href="https://www.usetimeless.app">Timeless</a></p>
      <p class="app-header__subtitle">Reduce time anxiety</p>
    </header>
    <div class="app-actions">
      <a class="app-actions__button app-actions__button--text" href="https://www.usetimeless.app/buy">Buy Now</a>
      <a class="app-actions__button app-actions__button--primary" href="https://www.usetimeless.app">Read More</a>
    </div>
    <div class="app-body">
      <p class="app-body__text">A replacement for the clock on your Mac that reduces time pressure and distraction. Get a more subtle sense of what time it is.</p>
    </div>
  </div>
</div>
