.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}
.flex-grid-thirds .col {
  width: 32%;
}

.pagination div:nth-child(2) {
  text-align: center;
}
.pagination div:last-child {
  text-align: right;
}

#post-list {
  margin-bottom: 1em;
}

#post-list > li {
  border-bottom: 1px solid #dadadc;
  margin-bottom: 2em;
  padding-bottom: 2em;
}

.button {
  display: inline-block !important;
  padding: 0.15em 0.5em !important;
  border-radius: 3px;
  box-shadow: none !important;
}
.button:hover {
  text-decoration: none !important;
}

.is-dark {
  background-color: #666 !important;
  color: #fff !important;

}
.is-dark:hover {
  background-color: #444 !important;
}

.pagination,
.h-feed {
  margin-bottom: 2rem;
}
