---
layout: default
---

<article class="h-entry post">
  <header>
    {% if post.microblog != true %}
    <h1 class="p-name">{{ page.title }}</h1>
    {% endif %}
    <h2 class="headline">
      <time class="dt-published" datetime="{{ page.date }}">
	<a class="u-url dates" href="{{ site.baseurl }}/{{ page.url | remove_first: '/' }}">{{ page.date | date:"%B %-d, %Y" }}</a>
      </time>
    </h2>
  </header>

  <section class="e-content post-body">
    {{content}}
  </section>

  {% if page.apps[0] %}
  {% assign app_name=page.apps[0] %}
  {% else %}
  {% assign app_name=site.data.apps.names | sample %}
  {% endif %}

  {% assign app=site.data.apps[app_name] %}
  {% include app.html app=app %}

</article>
<section id="post-meta" class="clearfix">
  <a href="/">
    <img class="u-photo avatar" src="{{ site.avatar }}">
    <div>
      <span class="p-author h-card dark">{{ site.author }}</span>
      <span><a href="https://www.twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a></span>
    </div>
  </a>
</section>
